@model Application.ViewModels.ProductionViewModel.ProductionSaveViewModel
@{
    bool editMode = Model.Id == 0 ? false : true;
    ViewData["Title"] = "Create Production";
}

<div class="row">
    <div class="col-4 offset-4">
        <div class="card">
            <div class="card-header bg-primary text-light">
                <h4 class="text-center  text-light">@(editMode ? $"EDITING THE PRODUCTION: {Model.Name}" : "CREATING A PRODUCTION")</h4>
            </div>

            <div class="card-body">
                <form method="post" asp-controller="Production" asp-action="@(editMode ? "Update":"Create")">
                    <div class="mb-3">
                        <label asp-for="Name" class="form-label">Name</label>
                        <input asp-for="Name" type="text" class="form-control"
                            placeholder="Write the name of the gender" autocomplete="off" />
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                    <input type="hidden" asp-for="Id" />
                    <button class="btn btn-primary float-end ms-1" type="submit">Save Production</button>
                    <button class="btn btn-danger float-end" type="submit" asp-controller="Production" asp-action="Index">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>